/**
*
*/

/* Debug */

.debug {
  border: 1px solid red;
}


/** Conteúdo */

body {
  /* uigradients.com/#MoonlitAsteroid */
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 780px;
}


/** Idiomas */

.idiomas img {
  width: 24px;
}


/** Header */

.logotipo {
  margin: 3rem 0 7rem 0;
}

.subtitles {
  margin-left: 1rem;
}

.subtitles p i {
  margin-right: 1rem;
}


/** Resumo */

.resume {
  text-align: justify;
}

.resume-in {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  padding: 1.5rem;
}

.resume-out {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
  height: 0;
}


/** Redes sociais */

.btnSocial a i:hover {
  color: rgba(255, 255, 255, 0.5);
}

.btnSocial a i:active {
  color: rgba(255, 255, 255, 0.5);
}


/** Links */

.linkBtn {
  text-decoration: none;
}

.linkBtn-item {
  border-radius: 50px;
  background: #203A43;
  box-shadow: -8px -8px 16px #1b3139,
    8px 8px 16px #25434d;
}

.linkBtn-item i {
  margin-right: .5rem;
}

.linkBtn-item:hover {
  background-color: rgba(192, 192, 192, 0.1);
}

.linkBtn-item:active {
  background-color: rgba(192, 192, 192, 0.1);
}


/** Vitrine */

.vitrine .card {
  background-color: rgba(192, 192, 192, 0.1);
  color: #FFFFFF;
}

.card P {
  text-align: justify;
}

.name-bolls {
  border-bottom: solid 1px rgba(108, 117, 125, 1);
}

.boll-1 {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, .8);
  border-radius: 50%;
}

.boll-0 {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, .1);
  border-radius: 50%;
}

.levels {
  margin-right: 26px;
}

/** Portfólio */

.portfolio .card {
  background-color: rgba(192, 192, 192, 0.1);
  color: #FFFFFF;
}

.portfolio .card span {
  background-color: #203A43;
  color: #FFFFFF;
}


/**/
@media screen and (max-width: 576px) {
  .part-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .logotipo {
    margin: 3rem 0 5rem 0;
  }
  .logotipo img {
    max-width: 100%;
  }
  .avatar img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .subtitles {
    margin-left: 0rem;
  }
  .name-bolls {
    border: none;
  }
  .boll-1 {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
  }
  .boll-0 {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, .1);
    border-radius: 50%;
  }
  .levels {
    margin-right: 28px;
    font-size: .85em;
  }
  .levels-z {
    font-size: .85em;
  }
}