<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="./images/rocket.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="Index, Follow">
    <meta name="description"
          content="Desenvolvedor Web Full Stack | PHP | JavaScript | TypeScript | SQL | SysAdmin | Infraestrutura de Redes">
    <meta name="keywords"
          content="paulo h b souza, paulohbsouza, paulo hb souza, programador, web design, desenvolvimento de sites, criação de sites, design responsivo, desenvolvimento front-end, desenvolvimento back-end, ux design, ui design, desenvolvimento de e-commerce, criação de lojas virtuais, seo, full stack, desenvolvimento web">
    <meta name="author" content="Paulo HB Souza">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J8MQ13GPEZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J8MQ13GPEZ');
    </script>

    <title>Links | Paulo HB Souza</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
